In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
workbook = pd.read_excel(r'C:\Users\juan.carrizo\Desktop\planes\semanal\plan semanal SIMAF - TOTAL 03-01-2023 prep_.xlsx', sheet_name=None)

In [3]:
workbook.keys()

dict_keys(['Sheet1'])

In [4]:
plan = workbook['Sheet1']

In [5]:
plan.shape

(5098, 59)

In [6]:
plan.describe

<bound method NDFrame.describe of       Unnamed: 0                        Sector                             CG  \
0              1  SE - BASE PLAZA CONSTITUCION  ABRIGOS / ARMARIOS / BUNGALOW
1              2  SE - BASE PLAZA CONSTITUCION  ABRIGOS / ARMARIOS / BUNGALOW
2              3  SE - BASE PLAZA CONSTITUCION  ABRIGOS / ARMARIOS / BUNGALOW
3              4  SE - BASE PLAZA CONSTITUCION  ABRIGOS / ARMARIOS / BUNGALOW
4              5  SE - BASE PLAZA CONSTITUCION  ABRIGOS / ARMARIOS / BUNGALOW
...          ...                           ...                            ...
5093        5094               SE - LD PINAMAR    PASO A NIVEL - FONOLUMINOSO
5094        5095               SE - LD PINAMAR    PASO A NIVEL - FONOLUMINOSO
5095        5096               SE - LD PINAMAR    SEÑALES - MECANICAS - BRAZO
5096        5097               SE - LD PINAMAR    SEÑALES - MECANICAS - BRAZO
5097        5098               SE - LD PINAMAR    SEÑALES - MECANICAS - BRAZO

               UMP   um_id                            um_nombre columna_1  \
0     Sin UM Padre   84284                       ALL - A/A/B C2       NaN
1     Sin UM Padre   84285                     ALL - A/A/B C11D       NaN
2     Sin UM Padre   84286                     ALL - A/A/B C13D       NaN
3     Sin UM Padre   84287                       ALL - A/A/B C1       NaN
4     Sin UM Padre   84288                      ALL - A/A/B C31       NaN
...            ...     ...                                  ...       ...
5093  Sin UM Padre   89291  DPN - PAN FL RUTA 74 PINAMAR 09,220       NaN
5094  Sin UM Padre   89292  GUI - PAN FL RUTA 2 PINAMAR 245,599       NaN
5095  Sin UM Padre  115479         GM - SM B ENTRADA LADO GUIDO       NaN
5096  Sin UM Padre  115480       GM - SM B ENTRADA LADO PINAMAR       NaN
5097  Sin UM Padre  115481        DPN - SM B ENTRADA LADO GUIDO       NaN

     columna_2 columna_3 columna_4  ... columna_44 columna_45 columna_46  \
0          NaN       NaN       NaN  ...        NaN        NaN        NaN
1          NaN       NaN       NaN  ...        NaN        NaN        NaN
2          NaN       NaN       NaN  ...        NaN        NaN        NaN
3          NaN       NaN       NaN  ...        NaN        NaN        NaN
4          NaN       NaN       NaN  ...        NaN        NaN        NaN
...        ...       ...       ...  ...        ...        ...        ...
5093        PE       NaN        LI  ...        NaN         PE        NaN
5094        PE       NaN        LI  ...        NaN         PE        NaN
5095        PE       NaN        LI  ...        NaN         PE        NaN
5096        PE       NaN        LI  ...        NaN         PE        NaN
5097        PE       NaN        LI  ...        NaN         PE        NaN

     columna_47 columna_48 columna_49 columna_50 columna_51 columna_52  \
0           NaN        NaN        NaN        NaN        NaN        NaN
1           NaN        NaN        NaN        NaN        NaN        NaN
2           NaN        NaN        NaN        NaN        NaN        NaN
3           NaN        NaN        NaN        NaN        NaN        NaN
4           NaN        NaN        NaN        NaN        NaN        NaN
...         ...        ...        ...        ...        ...        ...
5093         LI        NaN         PE        NaN         LI        NaN
5094         LI        NaN         PE        NaN         LI        NaN
5095         LI        NaN         PE        NaN         LI        NaN
5096         LI        NaN         PE        NaN         LI        NaN
5097         LI        NaN         PE        NaN         LI        NaN

     observacion
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
5093         NaN
5094         NaN
5095         NaN
5096         NaN
5097         NaN

[5098 rows x 59 columns]>

In [7]:
workbook2 = pd.read_excel(r"D:\DOCUMENTOS\DESARROLLO\CUMPLIMIENTO\TABLA-SEMANAS.xlsx", sheet_name=None)

In [8]:
workbook2.keys()

dict_keys(['Hoja1'])

In [9]:
tabla_semanas = workbook2['Hoja1']

In [10]:
tabla_semanas.keys()

Index(['mes', 'inicio', 'fin', 'semana'], dtype='object')

<h1>COLOCAR RUTA DE CRUDO</h1>

In [11]:
ruta_crudo= r"I:\Operaciones\Infraestructura\2 - Remedios de Escalada\P&C\_Estadística\01 PMA\2023\PMA 2023 - 02 FEBRERO\_Avances parciales\09-03-23\crudo SIMAF - TOTAL limpio 09-03-2023.xlsx"

In [12]:
workbook3 = pd.read_excel(ruta_crudo, sheet_name=None)

In [13]:
workbook3.keys()

dict_keys(['Sheet1'])

In [14]:
crudo = workbook3['Sheet1']

In [15]:
crudo.describe()

,Unnamed: 0,orden_nro,Progresiva_Desde,Progresiva_Hasta,tiempo,sector_id
count,7973.000000,7973.000000,3578.000000,3578.000000,7973.000000,7973.000000
mean,3986.000000,35380.108115,1.189869,1.770883,549.210460,341.291860
std,2301.751181,29198.771831,5.622565,7.735460,1040.580103,11.475982
min,0.000000,9.000000,0.000000,0.000000,0.000000,321.000000
25%,1993.000000,3010.000000,0.000000,0.000000,0.000000,334.000000
50%,3986.000000,60628.000000,0.000000,0.000000,480.000000,341.000000
75%,5979.000000,61824.000000,0.000000,0.000000,740.000000,342.000000
max,7972.000000,62523.000000,52.000000,52.606000,35712.000000,373.000000

In [16]:
crudo.keys()

Index(['Unnamed: 0', 'um', 'linea', 'area', 'sector', 'orden_nro',
       'fecha_inicio', 'fecha_cierre', 'fecha_cumplimiento', 'cg', 'Tipo',
       'TipoOT', 'EstadoOT', 'Progresiva_Desde', 'Progresiva_Hasta', 'trabajo',
       'tiempo', 'realizado', 'observaciones', 'sector_id', 'sec+OT'],
      dtype='object')

In [17]:
crudo.rename( columns={'um':'um_nombre','sector':'Sector', 'cg' : 'CG' }, inplace=True)

In [18]:
crudo.keys()

Index(['Unnamed: 0', 'um_nombre', 'linea', 'area', 'Sector', 'orden_nro',
       'fecha_inicio', 'fecha_cierre', 'fecha_cumplimiento', 'CG', 'Tipo',
       'TipoOT', 'EstadoOT', 'Progresiva_Desde', 'Progresiva_Hasta', 'trabajo',
       'tiempo', 'realizado', 'observaciones', 'sector_id', 'sec+OT'],
      dtype='object')

In [19]:
crudo['mes'] = crudo['fecha_cumplimiento'].dt.month
crudo = crudo.sort_values(by='fecha_cumplimiento')
tabla_semanas.rename( columns={'inicio':'fecha_cumplimiento'}, inplace=True)
crudo = pd.merge(crudo , tabla_semanas.reindex(columns=['fecha_cumplimiento','semana']),on='fecha_cumplimiento', how='left')
crudo['semana'] = crudo['semana'].fillna(method="ffill")

In [20]:
crudo.loc[crudo.trabajo.str.contains('MANTENIMIENTO'),'TipoOT'] = 'Preventiva'
crudo.loc[crudo.trabajo.str.contains('CORRECTIVO'),'TipoOT'] = 'Correctiva'
crudo['ABR']=np.nan
crudo.loc[crudo.trabajo.str.contains('LIVIANO'),'ABR'] = 'LI'
crudo.loc[crudo.trabajo.str.contains('LIVIANA'),'ABR'] = 'LI'
crudo.loc[crudo.trabajo.str.contains('INTERMEDIA'),'ABR'] = 'IN'
crudo.loc[crudo.trabajo.str.contains('INTERMEDIO'),'ABR'] = 'IN'
crudo.loc[crudo.trabajo.str.contains('PESADA'),'ABR'] = 'PE'
crudo.loc[crudo.trabajo.str.contains('PESADO'),'ABR'] = 'PE'
crudo.loc[crudo.trabajo.str.contains('REVISION Y REGISTRO'),'ABR'] = 'RR'
crudo.loc[crudo.trabajo.str.contains('REVISION A'),'ABR'] = 'A'
crudo.loc[crudo.trabajo.str.contains('REVISION B'),'ABR'] = 'B'
crudo.loc[crudo.trabajo.str.contains('REVISION C'),'ABR'] = 'C'
crudo.loc[crudo.trabajo.str.contains('ROTURA PALOS DE BARRERA'),'ABR'] = 'PR'
crudo.loc[crudo.trabajo.str.contains('VERIFICACION DE SERVICIOS DE TERCEROS'),'ABR'] = 'VT'

In [21]:
crudo.head()

,Unnamed: 0,um_nombre,linea,area,Sector,orden_nro,fecha_inicio,fecha_cierre,fecha_cumplimiento,CG,...,Progresiva_Hasta,trabajo,tiempo,realizado,observaciones,sector_id,sec+OT,mes,semana,ABR
0,0,WL - TEL/MAG - WILDE - MAGNETO CABINA CON DOMI...,Roca,Telecomunicaciones,TE - BASE QUILMES,60192,2023-01-30 00:00:00,NaT,2023-01-30,COMUNICACIONES EN CABINAS TELEFONOS MAGNETOS,...,NaN,MANTENIMIENTO LIVIANO,80,SI,NaN,345,345-60192,1,5.0,LI
1,123,QL - PP FL ALSINA,Roca,Señalamiento,SE - BASE QUILMES,10120,2023-02-03 10:01:14,2023-03-04 07:41:57,2023-01-30,PASO PEATONAL - FONOLUMINOSO,...,0.0,MANTENIMIENTO LIVIANO,300,SI,NaN,341,341-10120,1,5.0,LI
2,124,QL - PAN S40/S60 CONESA,Roca,Señalamiento,SE - BASE QUILMES,10121,2023-02-03 10:22:15,2023-03-04 07:42:30,2023-01-30,PASO A NIVEL - B AUTOMATICA / MANUAL ELECTRICA...,...,0.0,MANTENIMIENTO LIVIANO,0,SI,NaN,341,341-10121,1,5.0,LI
3,125,BQ - SE S/D 2P2 ASC,Roca,Señalamiento,SE - BASE QUILMES,10038,2023-01-31 07:20:56,2023-01-31 07:24:54,2023-01-30,SEÑALES - ELECTRICAS - SEMAFORO / DISCO,...,0.0,CORRECTIVO LIVIANO,100,SI,NaN,341,341-10038,1,5.0,LI
4,126,BN - C/MP CABINA BERNAL,Roca,Señalamiento,SE - BASE QUILMES,10123,2023-02-03 11:25:05,2023-03-04 07:42:40,2023-01-30,CABINA / MARCO DE PALANCA - MECANICA,...,0.0,MANTENIMIENTO LIVIANO,480,SI,NaN,341,341-10123,1,5.0,LI

In [22]:
crudo.to_excel(r'C:\Users\juan.carrizo\Desktop\crudo_utilizado_'+pd.to_datetime('today').strftime('%d-%m-%Y')+'.xlsx' )

In [23]:
valoracion_trabajo = pd.DataFrame(data={'LI':[1] , 'IN':[2], 'PE':[3]})

In [24]:
valoracion_trabajo['LI'][0]

1

In [25]:
valoracion_trabajo

   LI  IN  PE
0   1   2   3

<h1>COLOQUE NUMERO DE MES</h1>

In [26]:
nmes = 2

In [27]:
mes = 'mes'+str(nmes)

In [28]:
mes

'mes2'

<h1>Colocar estado de OT (Finalizada/Iniciada)<h>

In [29]:
estado = "Finalizada"

In [30]:
if estado=='Finalizada':
    estado_a='Finalizada'
    estado_b='Finalizada'
else:
    if estado=='Iniciada':
        estado_a='Finalizada'
        estado_b='Iniciada'
    else:
        print("Compruebe el estado ingresado\n")

In [31]:
columnas_E=['Sector','CG','um_nombre']
columnas=['Sector','CG','um_nombre']
semanas_del_mes_P=[]
semanas_del_mes_E=[]
for semana in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']:
    semanas_del_mes_P.append('columna_'+str(semana))
    semanas_del_mes_E.append('columna_'+str(semana)+'_E')
    
for semana in semanas_del_mes_P:
    columnas.append(semana)

for semana in semanas_del_mes_E:
    columnas_E.append(semana)

In [32]:
columnas_E

['Sector',
 'CG',
 'um_nombre',
 'columna_5_E',
 'columna_6_E',
 'columna_7_E',
 'columna_8_E']

In [33]:
plan_semanal = plan[columnas].copy()

In [34]:
#plan_semanal = plan_semanal.drop(plan_mes[plan_mes.CG=="CATENARIA - LC-LA-LP-LDF-LDS"].index)

In [35]:
#plan_semanal = (plan_semanal.set_index(['Sector', 'CG','um_nombre'])
#   .apply(lambda x: x.str.split(';').explode())
#   .reset_index())

In [36]:
plan_semanal

,Sector,CG,um_nombre,columna_5,columna_6,columna_7,columna_8
0,SE - BASE PLAZA CONSTITUCION,ABRIGOS / ARMARIOS / BUNGALOW,ALL - A/A/B C2,NaN,NaN,NaN,NaN
1,SE - BASE PLAZA CONSTITUCION,ABRIGOS / ARMARIOS / BUNGALOW,ALL - A/A/B C11D,NaN,NaN,NaN,NaN
2,SE - BASE PLAZA CONSTITUCION,ABRIGOS / ARMARIOS / BUNGALOW,ALL - A/A/B C13D,NaN,NaN,NaN,NaN
3,SE - BASE PLAZA CONSTITUCION,ABRIGOS / ARMARIOS / BUNGALOW,ALL - A/A/B C1,NaN,NaN,NaN,NaN
4,SE - BASE PLAZA CONSTITUCION,ABRIGOS / ARMARIOS / BUNGALOW,ALL - A/A/B C31,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5093,SE - LD PINAMAR,PASO A NIVEL - FONOLUMINOSO,"DPN - PAN FL RUTA 74 PINAMAR 09,220",NaN,PE,NaN,LI
5094,SE - LD PINAMAR,PASO A NIVEL - FONOLUMINOSO,"GUI - PAN FL RUTA 2 PINAMAR 245,599",NaN,PE,NaN,LI
5095,SE - LD PINAMAR,SEÑALES - MECANICAS - BRAZO,GM - SM B ENTRADA LADO GUIDO,NaN,PE,NaN,LI
5096,SE - LD PINAMAR,SEÑALES - MECANICAS - BRAZO,GM - SM B ENTRADA LADO PINAMAR,NaN,PE,NaN,LI
5097,SE - LD PINAMAR,SEÑALES - MECANICAS - BRAZO,DPN - SM B ENTRADA LADO GUIDO,NaN,PE,NaN,LI

<h1>Procesamiento plan semanal<h>

In [37]:
last = len(plan_semanal.index)

In [38]:
plan_programado = plan_semanal.set_index('um_nombre')

In [ ]:
sectores = plan_semanal.loc[(plan_semanal.Sector.str.startswith('SE ') | plan_semanal.Sector.str.startswith('TE '))]['Sector'].drop_duplicates()
for semana in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']:
    plan_semanal['columna_'+str(semana)+'_E']=np.nan
    plan_semanal['columna_'+str(semana)+'_FP']=np.nan
    plan_semanal['columna_'+str(semana)+'_orden_nro']=np.nan
    
for sector in sectores:
    cgs = plan_semanal.loc[plan_semanal.Sector==sector]['CG'].drop_duplicates()
    for cg in cgs:
        ums = plan_semanal.loc[(plan_semanal.Sector==sector) & (plan_semanal.CG==cg)]['um_nombre'].drop_duplicates()
        for um in ums:
            for semana in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']: 
                columnas_fp=['Sector','CG','um_nombre','columna_'+str(semana)+'_FP','columna_'+str(semana)+'_orden_nro']
                intervenciones_programadas = plan_semanal.loc[(plan_semanal.Sector==sector) & (plan_semanal.CG==cg) & (plan_semanal.um_nombre==um)]['columna_'+str(semana)]
                i = 0
                for intervencion_programada in intervenciones_programadas:
                    indice = intervenciones_programadas.index[i]
                    if not indice<last:
                        break
                    intervenciones_ejecutadas = crudo.loc[(crudo.Sector==sector) & (crudo.CG==cg) & (crudo.um_nombre==um) & (crudo.semana==semana) & (crudo.TipoOT=='Preventiva') & ((crudo.EstadoOT==estado_a) | (crudo.EstadoOT==estado_b))]['ABR']
                    if pd.notna(intervencion_programada) and len(intervenciones_ejecutadas)==0:
                        plan_semanal['columna_'+str(semana)+'_E'].iat[indice]="N"
                    n=0
                    for intervencion_ejecutada in intervenciones_ejecutadas:
                        indice_ejecutada = intervenciones_ejecutadas.index[n]
                        if pd.notna(intervencion_programada):
                            if intervencion_programada in intervenciones_ejecutadas.to_string(index=False):
                                indice_ejecutada = crudo.loc[(crudo.Sector==sector) & (crudo.CG==cg) & (crudo.um_nombre==um) & (crudo.semana==semana) & (crudo.TipoOT=='Preventiva') & ((crudo.EstadoOT==estado_a) | (crudo.EstadoOT==estado_b)) & (crudo.ABR==intervencion_programada)].index[0]
                                plan_semanal['columna_'+str(semana)+'_E'].iat[indice]=crudo['ABR'].iat[indice_ejecutada]
                                plan_semanal['columna_'+str(semana)+'_orden_nro'].iat[indice]=crudo['orden_nro'].iat[indice_ejecutada]
                            else:
                                if intervencion_programada in valoracion_trabajo.to_string(index=False):
                                    if intervencion_ejecutada in valoracion_trabajo.to_string(index=False):
                                        if valoracion_trabajo[intervencion_programada][0]>valoracion_trabajo[intervencion_ejecutada][0]:
                                            plan_semanal['columna_'+str(semana)+'_E'].iat[indice]="N"
                                        else:
                                            plan_semanal['columna_'+str(semana)+'_E'].iat[indice]=intervencion_ejecutada
                                            plan_semanal['columna_'+str(semana)+'_orden_nro'].iat[indice]=crudo['orden_nro'].iat[indice_ejecutada]
                                else:
                                    if pd.notna(intervencion_ejecutada):
                                        programada_en_semana_anterior=False
                                        for semana_fp in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']:
                                            if intervencion_ejecutada==plan_semanal.loc[(plan_semanal.Sector==sector) & (plan_semanal.CG==cg) & (plan_semanal.um_nombre==um)]['columna_'+str(semana_fp)].to_string(index=False):
                                                programada_en_semana_anterior=True
                                        if not programada_en_semana_anterior:
                                            plan_semanal = pd.concat([plan_semanal , pd.DataFrame([[sector,cg,um,intervencion_ejecutada,crudo['orden_nro'].iat[indice_ejecutada]]], columns=columnas_fp)] , ignore_index=True)
                                        else:
                                            plan_semanal['columna_'+str(semana)+'_E'].iat[indice]=intervencion_ejecutada
                                            plan_semanal['columna_'+str(semana)+'_orden_nro'].iat[indice]=crudo['orden_nro'].iat[indice_ejecutada]
                                    plan_semanal['columna_'+str(semana)+'_E'].iat[indice]="N"
                                    
                        else:
                            if pd.notna(intervencion_ejecutada):
                                programada_en_semana_anterior=False
                                for semana_fp in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']:
                                    if intervencion_ejecutada==plan_semanal.loc[(plan_semanal.Sector==sector) & (plan_semanal.CG==cg) & (plan_semanal.um_nombre==um)]['columna_'+str(semana_fp)].to_string(index=False):
                                        programada_en_semana_anterior=True
                                if not programada_en_semana_anterior:
                                    plan_semanal = pd.concat([plan_semanal , pd.DataFrame([[sector,cg,um,intervencion_ejecutada,crudo['orden_nro'].iat[indice_ejecutada]]], columns=columnas_fp)] , ignore_index=True)
                                else:
                                    plan_semanal['columna_'+str(semana)+'_E'].iat[indice]=intervencion_ejecutada
                                    plan_semanal['columna_'+str(semana)+'_orden_nro'].iat[indice]=crudo['orden_nro'].iat[indice_ejecutada]
                        n+=1
                    i+=1

In [ ]:
crudo.keys()

In [ ]:
s_min = tabla_semanas.loc[tabla_semanas.mes==nmes]['semana'].min()
s_max = tabla_semanas.loc[tabla_semanas.mes==nmes]['semana'].max()

In [ ]:
plan_ejecutado = crudo.loc[((crudo.semana>=s_min) & (crudo.semana<=s_max) & (crudo.TipoOT=='Preventiva') & ((crudo.EstadoOT==estado_a) | (crudo.EstadoOT==estado_b)))][['Sector','CG','um_nombre','ABR']].set_index('um_nombre')

In [ ]:
count_df = pd.DataFrame()
count=0
for um in plan_programado.index:
    if um in plan_ejecutado.index:
        intervenciones_programadas = plan_programado.loc[um][semanas_del_mes_P].value_counts()
        intervenciones_ejecutadas = plan_ejecutado.loc[um]['ABR']
        if not type(intervenciones_ejecutadas)==str:
            intervenciones_ejecutadas = intervenciones_ejecutadas.value_counts()
        else:
            intervenciones_ejecutadas = pd.DataFrame([intervenciones_ejecutadas]).value_counts()
        for intervencion in intervenciones_programadas.index:
            if len(intervenciones_ejecutadas)!=0:
                if intervencion in intervenciones_ejecutadas.index:
                    if (intervenciones_ejecutadas.loc[intervencion] > intervenciones_programadas.loc[intervencion]).any():
                        count_df = pd.concat([count_df,pd.DataFrame({'Sector' : [plan_programado.loc[um]['Sector']],
                                                                    'CG' : [plan_programado.loc[um]['CG']],
                                                                    'Tipo' : [intervencion],
                                                                    'E' : [intervenciones_programadas[intervencion]],
                                                                    'FP' : [(intervenciones_ejecutadas[intervencion]-intervenciones_programadas[intervencion])]})]
                                            ,ignore_index=True)
                    elif (intervenciones_ejecutadas.loc[intervencion] <= intervenciones_programadas.loc[intervencion]).any():
                        count_df = pd.concat([count_df,pd.DataFrame({'Sector' : [plan_programado.loc[um]['Sector']],
                                                                    'CG' : [plan_programado.loc[um]['CG']],
                                                                    'Tipo' : [intervencion],
                                                                    'E' : [intervenciones_ejecutadas[intervencion]]})]
                                            ,ignore_index=True)

In [ ]:
count_df.groupby(['Sector','CG','Tipo']).sum()

In [ ]:
crudo_c = crudo[['Sector','CG','um_nombre','TipoOT','ABR','orden_nro','semana']].copy()
crudo_c = crudo_c.loc[(crudo_c.Sector.str.startswith('SE ') | crudo_c.Sector.str.startswith('TE '))]

In [ ]:
crudo_c = crudo_c.drop(crudo_c[crudo_c.TipoOT!="Correctiva"].index)
crudo_c = crudo_c.drop(crudo_c[~((crudo_c.semana>=tabla_semanas.loc[tabla_semanas.mes==nmes]['semana'].iloc[0]) & (crudo_c.semana<=tabla_semanas.loc[tabla_semanas.mes==nmes]['semana'].iloc[-1]))].index)

In [ ]:
plan_mes = pd.DataFrame()
for semana in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']:
    plan_mes = pd.concat([plan_mes, plan_semanal[['Sector',
                             'CG',
                             'um_nombre',
                             'columna_'+str(semana),
                             'columna_'+str(semana)+'_E',
                             'columna_'+str(semana)+'_FP']].copy().rename(columns= {'columna_'+str(semana) : mes,
                                                                                   'columna_'+str(semana)+'_E' : mes+'_E',
                                                                                   'columna_'+str(semana)+'_FP' : mes+'_FP'})] , ignore_index=True)

In [ ]:
plan_mes[mes].unique()

In [ ]:
crudo_c = crudo_c.drop(columns=['TipoOT'])
crudo_c = crudo_c.drop(columns=['semana'])
plan_mes = pd.concat([plan_mes , crudo_c], ignore_index=True)

In [ ]:
columnas_sabana=['Sector','CG','um_nombre']
for semana in tabla_semanas.loc[tabla_semanas.mes==nmes]['semana']:
    columnas_sabana.append('columna_'+str(semana))
    columnas_sabana.append('columna_'+str(semana)+'_E')
    columnas_sabana.append('columna_'+str(semana)+'_FP')
    columnas_sabana.append('columna_'+str(semana)+'_orden_nro')
columnas_sabana

In [ ]:
plan_mes.rename( columns={'ABR': mes+'_E_C' }, inplace=True)
plan_mes = plan_mes.reindex( columns=['Sector','CG','um_nombre',mes,mes+'_E',mes+'_FP',mes+'_E_C','orden_nro'])
plan_semanal = plan_semanal.reindex( columns=columnas_sabana)

In [ ]:
crudo.keys()

In [ ]:
plan_semanal.loc[:,:].to_excel(r'C:\Users\juan.carrizo\Desktop\plan_semanal_sabana_'+pd.to_datetime('today').strftime('%d-%m-%Y')+'_por_'+estado+'.xlsx' )

In [ ]:
plan_mes_P = plan_mes[['Sector','CG','um_nombre',mes]].copy().rename(columns= { mes : 'Tipo'})
report_P = plan_mes_P.groupby(['Sector','CG','Tipo']).count()
#plan_mes_E = plan_mes[['Sector','CG','um_nombre',mes+'_E']].copy().drop(plan_mes[plan_mes[mes+'_E']=='N'].index).rename(columns= { mes+'_E' : 'Tipo'})
report_E_FP = count_df.groupby(['Sector','CG','Tipo']).sum()
#plan_mes_FP = plan_mes[['Sector','CG','um_nombre',mes+'_FP']].copy().rename(columns= { mes+'_FP' : 'Tipo'})
#report_FP = plan_mes_FP.groupby(['Sector','CG','Tipo']).count()
plan_mes_C = plan_mes[['Sector','CG','um_nombre',mes+'_E_C']].copy().rename(columns= { mes+'_E_C' : 'Tipo'})
report_C = plan_mes_C.groupby(['Sector','CG','Tipo']).count()

In [ ]:
report_P = report_P.rename( columns= { 'um_nombre': 'P' })
#report_E = report_E.rename( columns= { 'um_nombre': 'E' })
report_C = report_C.rename( columns= { 'um_nombre': 'C' })
#report_FP = report_FP.rename( columns= { 'um_nombre': 'FP' })

In [ ]:
report = pd.merge(report_P , report_E_FP ,on=['Sector','CG','Tipo'],how='outer')
report = pd.merge(report , report_C ,on=['Sector','CG','Tipo'],how='outer')
#report = pd.merge(report , report_FP ,on=['Sector','CG','Tipo'],how='outer')

In [ ]:
writer = pd.ExcelWriter(r'C:\Users\juan.carrizo\Desktop\cumplimiento_semanal_'+pd.to_datetime('today').strftime('%d-%m-%Y')+'_por_'+estado+'.xlsx',engine='xlsxwriter')
workbook = writer.book
worksheet=workbook.add_worksheet('CUMPLIMIENTO')
writer.sheets['CUMPLIMIENTO'] = worksheet

In [ ]:
cumplimiento = report.groupby(['Sector']).sum()
cumplimiento['%'] = (cumplimiento['E']/cumplimiento['P']*100).round(2)
cumplimiento.to_excel(writer , sheet_name='CUMPLIMIENTO')

In [ ]:
worksheet=workbook.add_worksheet('DETALLE')
writer.sheets['DETALLE'] = worksheet
report.loc[:,:].to_excel(writer, sheet_name='DETALLE')

In [ ]:
report

In [ ]:
writer.close()

In [ ]:
cumplimiento